*{box-sizing: border-box;}
.container{
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: auto;
    background: rgb(167, 17, 55);
    border-radius: 5px;
    }

.App{
   
    /* display: flex;  */
    /* flex-direction: column-reverse;  */
    padding: 10px;
    
}
    

    .logo{
        width: 70px; 
        margin: 7% 0 0 7%;
        
    }


.screen{
     width: 100%;
    height: 55px;
    background: rgb(49, 49, 49);
    border-radius: 35px;
    text-align: right;
    padding-right: 10px;
    padding: 10px;
    color: white;
    margin-bottom: 8px;
    font-size: 25px;
  
   
    
}

.keypad{
    display: flex;
    
}



/*Btn Numbers  */

.numbers{
     width: 150px; 
    
}

.btnNums{
    height: 40px;
    width: 40px;
    background: blue;
    border-radius: 50%;
    border: none;
    margin: 4px;
    box-shadow: 0px 3px 2px black;
    
    
}

.btnNums:nth-child(10) {
/* background: green; */
width: 85px;
border-radius: 50px;
}

button{
    color: white;
}

/* Btn Operators */

.operats{
    /* border: 2px solid black; */
}

.btnOpers{
    height: 40px;
    width: 40px;
    background: rgb(71, 115, 218);
    border-radius: 50%;
    border: none;
    margin: 4px;
    box-shadow: 0px 3px 2px black;
}


/* Btn Special */



.btnSpecials{
    height: 40px;
    width: 40px;
    background: rgb(71, 115, 218);
    border-radius: 50%;
    border: none;
    margin: 4px;
    box-shadow: 0px 3px 2px black;
}